<title><%= config.title %> | <%= config.description %></title>
<link rel="canonical" href="<%= config.url %>"></link> 

<meta name="description" content="<%= config.description %>">
<meta name="author" content="<%= config.author %>">
<meta name="publisher" content="<%= config.author %>">

<meta name="og:title" content="<% config.title %>">
<meta name="og:description" content="<% config.description %>">
<meta name="og:type" content="website">
<meta name="og:site_name" content="<%= config.title %>">
<meta name="og:url" content="<%= config.url %>">
<meta name="og:img" content="<%= config.banner.url %>">
<meta name="og:img:type" content="<%= config.banner.type %>">
<meta name="og:img:width" content="<%= config.banner.width %>">
<meta name="og:img:height" content="<%= config.banner.height %>">
<meta name="twitter:image" content="<%= config.banner.url %>">
<meta name="twitter:card" content="summary_large_image">